workflows:
  node-multi-build:
    jobs:
      - test:
          matrix:
            parameters:
              node-version: ['6', '8', '10', '12', '14', '16', '18', '19']
              prom-client-version: ['10', '11', '12']
            exclude:
              - node-version: '6'
                prom-client-version: '12'
orbs:
  node: circleci/node@5.0.3
version: 2.1
jobs:
  test:
    parameters:
      node-version:
        type: string
      prom-client-version:
        type: string
    executor: node/default
    steps:
      - checkout
      - node/install:
          node-version: << parameters.node-version >>
          install-npm: false
          install-yarn: true
      - node/install-packages:
          pkg-manager: yarn
          override-ci-command: yarn install --ignore-engines
          cache-path: ~/.cache/yarn
          include-branch-in-cache-key: false
      - run:
          name: Install prom-client@<< parameters.prom-client-version >>
          command: yarn add --dev prom-client@^<< parameters.prom-client-version >> --ignore-engines
      - run:
          name: Test prom-client@<< parameters.prom-client-version >>
          command: yarn test
